In [1]:
import pandas as pd

# Series

In [4]:
psg = pd.Series(["Navas","Mbapee","Neymar","Messi"],index =[1,7,10,30]) #Serie indexada
psg

1      Navas
7     Mbapee
10    Neymar
30     Messi
dtype: object

In [5]:
pd.Series(["Navas","Mbapee","Neymar","Messi"]) #Serie sin colocar indice (Lo pone automaticamente)

0     Navas
1    Mbapee
2    Neymar
3     Messi
dtype: object

In [6]:
dicc = {1:"Navas",7:"Mbappe",10:"Neymar",30:"Messi"} #Generamos la serie mediante un diccionario
pd.Series(dicc)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [7]:
psg[30]

'Messi'

In [10]:
dicc = {"Jugador":["Navas","Mbappe","Neymar","Messi"],"Altura":[188.0,175.0,180.0,170.0],"Goles":[2,100,300,600]}
dicc

{'Jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
 'Altura': [188.0, 175.0, 180.0, 170.0],
 'Goles': [2, 100, 300, 600]}

# DataFrames

In [11]:
pd.DataFrame(dicc,index = [1,7,10,30])

   Jugador  Altura  Goles
1    Navas   188.0      2
7   Mbappe   175.0    100
10  Neymar   180.0    300
30   Messi   170.0    600

In [13]:
df_psg = pd.DataFrame(dicc)

In [15]:
df_psg.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [17]:
df_psg.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
df_psg

  Jugador  Altura  Goles
0   Navas   188.0      2
1  Mbappe   175.0    100
2  Neymar   180.0    300
3   Messi   170.0    600