In [1]:
import pandas as pd
import numpy as np

In [4]:
dicc = {"Col1":[1,2,3,np.nan],
"Col2":[4,np.nan,6,7],
"Col3":["a","b","c",None]}

In [5]:
df = pd.DataFrame(dicc)
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

In [6]:
df.isnull() #Preguntamos si el valor es nulo

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [7]:
df.isnull() * 1 #De esta forma se es mas sencillo identificarlos

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

# Reemplazo de los valores nulos

In [8]:
df.fillna("Missing") #Mediante una palabra

      Col1     Col2     Col3
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing

In [10]:
df.fillna(df.mean()) #Mediante la media de la columna

   Col1      Col2  Col3
0   1.0  4.000000     a
1   2.0  5.666667     b
2   3.0  6.000000     c
3   2.0  7.000000  None

In [11]:
df.interpolate() #Interpreta que valor deberia ir

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

# Eliminacion de los datos nulos

In [12]:
df.dropna() #Elimina la fila completa en la que hay un valor nulo

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c